<div class="container">
<h1 class="title-van">Our Vans</h1>

<ul>
  <% @vans.each do |van| %>
  <div class="card-trip">
    <li class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path van.photos.first.key, crop: :fill %>)">
    </li>
    <div class="card-trip-infos">
      <div>
        <%= link_to(van.model, van_path(van), { class: "title"}) %>
        <p><%= van.description %></p>
      </div>
    <div class="card-trip-pricing">
      <p><%= van.price %>€/jour | <%= van.capacity %>places</p>
      <%= link_to("View now", van_path(van), { class: "button-view-details"}) %>
    </div>
    </div>
  </div>
    <% end %>
</ul>
</div>
