<h1>Vans#new</h1>
<p>Find me in app/views/vans/new.html.erb</p>
<%= simple_form_for @van do |f| %>
  <%= f.input :model %>
  <%= f.input :price %>
  <%= f.input :capacity %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>

redirect_to
