<div class="page-log-in">
   <div class="container-login">
    <h2>Add a van</h2>
    <%= simple_form_for @van do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :model,
                    required: true,
                    autofocus: true %>
        <%= f.input :capacity,
                    required: true %>
        <%= f.input :price,
                    required: true %>
        <%= f.input :description,
                    required: true %>
        <%= f.input :photos, as: :file,
                    required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Add this van" %>
      </div>
    <% end %>
  </div>
</div>
