<h1>Vans#new</h1>
<p>Find me in app/views/vans/new.html.erb</p>
<%= simple_form_for @van do |f| %>
  <%= f.label :model %>
  <%= f.text_field :model %>
    <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.label :capacity %>
  <%= f.text_field :capacity %>
    <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>
