<
      <%= cl_image_tag(@van.photos.first.key, width: 600, crop: :fill) %>


      <%= link_to("Réservez maintenant", new_van_booking_path(@van)) %>
      <%= @van.capacity %>places
      <%= @van.price %>€/jour
      <h4><%= @van.model %></h4>
      <p><%= @van.description %></p>
