<div class="container">
<h1>Your bookings</h1>
<% @bookings.each do |booking| %>
  <ul>
    <li>
      <%= booking.van.model %>
      <%= booking.van.capacity %>places
      <%= booking.van.description %>
      <%# img_tag(<%cl_image_path van.photos.first.key%>) %>
      <%= booking.price_total %>€
      <%= booking.starts_at.strftime("From %d/%m/%Y") %>
      <%= booking.ends_at.strftime("to %d/%m/%Y")  %>
    </li>
  </ul>
  <% end %>
</div>
